.profile_image {
    width: 40%;
    alignment: center;
}

.transparent{
    filter: opacity(20%);
}

.filter{
    filter: hue-rotate(270deg);
}

.filter.transparent{
    filter: hue-rotate(270deg) opacity(20%);
}